[Unit]
Description=HOMEINFO Integrated Services File System
PartOf=wsgi-services.target

[Service]
User=hisfs
Group=hisfs
ExecStart=/usr/local/bin/hisfsd

[Install]
WantedBy=wsgi-services.target
